@use "../../../../assets/styles/variables" as vars;

img {
  cursor: pointer;
  :active {
    transform: scale(0.98);
  }
}

.languages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.language-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    color: vars.$color-primary-orange;
    background-color: vars.$color-platinum-light;
    background-color: vars.$color-platinum-light;
  }
}

.language-flag {
  width: 25px;
  height: 25px;
  object-fit: cover;
  flex-shrink: 0;
}

.font-medium {
  font-weight: 500;
}
