@use "sass:color"; // Importa o módulo de cores do SASS
@use "../../../../assets/styles/variables" as vars;

.ver-mais-button {
  display: inline-block;
  background-color: vars.$color-primary-orange; // Corrigido: adicionado o namespace vars.
  color: vars.$color-platinum-light; // Corrigido: adicionado o namespace vars.
  text-decoration: none;
  padding: vars.$spacing-xMedium vars.$spacing-xlarge; // Corrigido: adicionado o namespace vars.
  border-radius: vars.$border-radius-medium; // Corrigido: adicionado o namespace vars.
  font-weight: vars.$font-weight-semibold; // Corrigido: adicionado o namespace vars.
  font-size: vars.$font-size-xlarge; // Corrigido: adicionado o namespace vars.
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust(
      vars.$color-primary-orange,
      $lightness: 10%
    ); // Corrigido: adicionado o namespace vars.
  }

  &:active {
    background-color: color.adjust(
      vars.$color-primary-orange,
      $lightness: 15%
    ); // Corrigido: adicionado o namespace vars.
  }
}
