<div class="links-page">
  <!-- Profile Section -->
  <section class="profile-section">
    <div class="profile-background">
      <img
        src="../../../assets/images/link-page/profile.jpg"
        alt="Profile background"
      />
      <div class="gradient-overlay"></div>
    </div>

    <div class="profile-informations">
      <h1 class="name">{{ name }}</h1>
      <p class="role">{{ role }}</p>
      <div class="social-icons">
        <a
          *ngFor="let social of socialLinks"
          [href]="social.url"
          target="_blank"
          class="social-icon"
        >
          <i [class]="social.icon"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- Buttons Section -->
  <section class="buttons-section">
    <!-- Link Para os Projetos Section -->
    <div class="action-button">
      <a href="#" target="_blank" class="project-link">
        <div class="action-textCard">
          <img
            src="../../../assets/images/visual-identity/icon.png"
            alt="Deneto icon"
          />
          <h2 class="action-title">Confira meus Projetos</h2>
        </div>
        <span class="action-subtitle"
          >Veja como transformo ideias em soluções digitais</span
        >
      </a>
    </div>

    <!-- Instagram Section -->
    <a href="#" target="_blank" class="instagram-section">
      <div class="section-header">
        <div class="section-instaLogo">
          <img
            src="../../../assets/images/visual-identity/instagram.png"
            alt="Instagram icon"
          />
          <h2>Instagram</h2>
        </div>
        <p-tag value="@denetodev" severity="warn" [rounded]="true" />
      </div>
      <div class="stats">
        <span>{{ followers }} followers</span>
        <span class="dot"> • </span>
        <span>{{ posts }} posts</span>
      </div>
      <div class="instagram-grid">
        <div *ngFor="let post of instagramPosts" class="post-preview">
          <img [src]="post.imageUrl" [alt]="post.alt" />
        </div>
      </div>
    </a>

    <!-- LinkedIn Section -->
    <div class="linkedin-section">
      <a href="#" target="_blank" class="linkedin-button">
        <img
          src="../../../assets/images/visual-identity/linkedin.png"
          alt="LinkedIn icon"
        />
        <h2 class="linkedin-title">Linkedin</h2>
        <span class="linkedin-subtitle">| Vamos nos conectar</span>
      </a>
    </div>

    <!-- Behance Section -->
    <div class="behance-button">
      <a href="#" target="_blank" class="project-link">
        <div class="behance-textCard">
          <img
            src="../../../assets/images/visual-identity/behance.png"
            alt="Deneto icon"
          />
          <h2 class="behance-title">Behance</h2>
        </div>
        <span class="behance-subtitle"
          >Explore minha coleção de projetos de design no Behance</span
        >
      </a>
    </div>

    <!-- GitHub Section -->
    <a href="#" target="_blank" class="github-section">
      <div class="section-header">
        <div class="section-instaLogo">
          <img
            src="../../../assets/images/features/2-github.svg"
            alt="Instagram icon"
          />
          <h2>GitHub</h2>
        </div>
        <p-tag value="@denetodev" severity="warn" [rounded]="true" />
      </div>
      <div class="stats">
        <span>7 followers</span>
        <span class="dot">•</span>
        <span>40 monthly contributions</span>
      </div>
      <div class="contribution-grid">
        <div class="contribution-cells">
          <div
            *ngFor="
              let week of githubData?.contributionsCollection
                ?.contributionCalendar?.weeks
            "
            class="contribution-week"
          >
            <div
              *ngFor="let day of week.contributionDays"
              class="contribution-cell"
              [style.background-color]="
                getContributionColor(day.contributionCount)
              "
            ></div>
          </div>
        </div>
      </div>
    </a>

    <!-- Rested Section -->
    <div class="rested-section">
      <h3>Rested.</h3>
      <p>My Chrome Extension with 300+ Users</p>
    </div>
  </section>

  <!-- Footer -->
  <footer class="page-footer">
    <div class="copyright">
      <span>Copyright© {{ currentYear }} Denilson Neto.</span>
      <span>Todos os direitos Reservados.</span>
    </div>
    <div class="footer-links">
      <a href="#">Termos de Uso e Condições</a>
      <a href="#">Política de Privacidade</a>
    </div>
  </footer>
</div>
