<header class="app-header">
  <div class="header-content">
    <!-- Logo -->
    <div class="logo">
      <a routerLink="/landingpage/home">
        <img
          class="desktop-logo"
          src="assets/images/visual-identity/logo-horizontal.png"
          alt="Logo Deneto"
        />
        <img
          class="mobile-logo"
          src="assets/images/visual-identity/icon.png"
          alt="Logo Deneto Icon"
        />
      </a>
    </div>

    <!-- Menu de Navegação -->
    <app-nav-menu></app-nav-menu>

    <!-- Botões -->
    <div>
      <div class="actions">
        <app-language-switcher></app-language-switcher>
        <app-contact-button></app-contact-button>
      </div>
    </div>
  </div>
</header>
