/* header.component.scss */
@use "sass:color";
@use "../../../assets/styles/variables" as vars;

:host ::ng-deep {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; // Mudamos para 100% para controlar o centro corretamente
  z-index: 1000;
  background-color: transparent;
  transition: background-color 1s ease, backdrop-filter 1s ease;

  .card {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 1s ease;
  }

  .p-toolbar {
    margin: 20px 0;
    width: 100%;
    min-width: 1200px;
    background-color: vars.$color-black;
    border: none;
    color: var(--p-toolbar-color);
    border-radius: var(--p-toolbar-border-radius);
    display: flex;
    justify-content: space-between; // Distribui o espaço entre os elementos
    align-items: center;
    transition: all 1s ease;

    // Ajusta os grupos da toolbar
    .p-toolbar-group-start,
    .p-toolbar-group-end {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .p-toolbar-group-start {
      justify-content: flex-start;
    }

    .p-toolbar-group-end {
      justify-content: flex-end;
      gap: 1rem; // Espaço entre os elementos do grupo end
    }
  }

  .card.scrolled {
    .p-toolbar {
      background-color: rgba(vars.$color-black, 0.3);
      backdrop-filter: blur(4px);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid vars.$color-platinum-light;
    }
  }

  .menu-items {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 2rem; // Espaço entre o menu e os botões
  }

  .menu-item-link {
    color: vars.$color-platinum-light;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      color: vars.$color-primary-orange;
      font-weight: vars.$font-weight-bold !important;
      background-color: transparent !important;
    }

    span {
      font-weight: vars.$font-weight-semibold;
      font-size: vars.$font-size-small;
    }
  }

  .logo {
    flex-shrink: 0;
    z-index: 2;
    cursor: pointer;

    a {
      display: block;
    }

    img {
      height: 35px;
      width: auto;
    }
  }
}

// Media queries para responsividade
@media screen and (max-width: 768px) {
  :host ::ng-deep {
    .card {
      width: 95%; // Aumenta um pouco a largura em telas menores
      margin: 10px auto; // Reduz a margem em telas menores
    }

    .menu-items {
      display: none; // Esconde o menu em telas menores
    }

    // Adicione aqui a lógica para o menu mobile quando necessário
  }
}
