<header class="app-header">
  <div class="header-content">
    <!-- Logo -->
    <div class="logo">
      <a routerLink="/landingpage/home">
        <img
          src="assets/images/visual-identity/logo-horizontal.png"
          alt="Logo Deneto"
        />
      </a>
    </div>

    <!-- Menu Toggle para telas menores -->
    <div class="menu-toggle" (click)="toggleMenu()">
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!-- MenuBar PrimeNG -->
    <p-menubar [model]="items" class="custom-menubar">
      <ng-template pTemplate="start">
      </ng-template>

      <ng-template pTemplate="end">
        <div class="actions">
          <app-language-switcher></app-language-switcher>
          <app-contact-button></app-contact-button>
        </div>
      </ng-template>
    </p-menubar>
  </div>
</header>
