@import "../../../assets/styles/variables";

:host ::ng-deep {
  .card {
    background-color: $color-black;
  }
  .p-menubar {
    max-width: 1200px;
    border: none;
    border-radius: none !important;
    background-color: transparent !important;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .p-menubar-button {
      color: $color-platinum-light !important;
      height: 35px !important;
      width: 35px !important;
      flex-shrink: 0;

      &:hover {
        background-color: rgb($color-primary-orange, 60%);
      }
    }
  }

  .p-menubar-root-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-black !important;

    .p-menubar-item-link {
      color: $color-platinum-light;

      &:hover {
        color: $color-primary-orange;
        background-color: none !important;
      }
      span {
        font-weight: $font-weight-semibold;
        font-size: $font-size-small;
      }
    }
  }
}

.logo {
  flex-shrink: 0;
  z-index: 2;
  cursor: pointer;

  a {
    display: block;
  }

  img {
    height: 40px;
    width: auto;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 576px) {
  .logo {
    .desktop-logo {
      display: none;
    }
    .mobile-logo {
      display: block;
    }
  }
  .contact-button {
    display: none;
  }
}
