<div class="carousel-container">
  <p-carousel
    [value]="projects"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [showNavigators]="false"
    [showIndicators]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
    class="custom-carousel"
  >
    <ng-template let-project pTemplate="item">
      <div class="project-card">
        <div class="image-container">
          <img [src]="project.image" [alt]="project.title" />
          <div class="project-info-overlay">
            <div class="header-content">
              <h3>{{ project.title }}</h3>
              <app-project-buttons
                [githubUrl]="project.githubUrl"
                [siteUrl]="project.siteUrl"
              ></app-project-buttons>
            </div>
            <p>{{ project.description }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="category-filters">
    <button
      pButton
      label="Landing Page"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      label="Sites"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      label="Sistemas Web"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      label="App Mobile"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      label="E-commerces"
      class="p-button-rounded p-button-text"
    ></button>
  </div>
</div>

<p-carousel
  [value]="projects"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  autoplayInterval="4500"
>
  <ng-template let-project #item>
    <div
      class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4"
    >
      <div class="mb-4">
        <div class="relative mx-auto">
          <img
            [src]="project.image"
            [alt]="project.title"
            class="w-full rounded-border"
          />
          <p-tag
            [value]="project.category"
            severity="info"
            class="absolute"
            styleClass="dark:!bg-surface-900"
            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
          />
        </div>
      </div>
      <div class="mb-4 font-medium">
        {{ project.description }}
      </div>
      <div class="flex justify-between items-center">
        <div class="mt-0 font-semibold text-xl">
          {{ project.title }}
        </div>
        <span>
          <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
          <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
        </span>
      </div>
    </div>
  </ng-template>
</p-carousel>
