.carousel-container {
  width: 100%;
  margin: auto;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.carousel-item img {
  max-height: 4rem;
  height: auto;

  @media (max-width: 576px) {
    max-height: 2.5rem;
  }
}
