@use "sass:color"; // Importa o módulo de cores do Sass
@use "../../../assets/styles/variables" as vars;

.footer {
  background-color: vars.$color-black;
  color: vars.$color-platinum-light;
  padding: vars.$spacing-xlarge 0 vars.$spacing-large;
  font-family: vars.$font-family-primary;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 vars.$spacing-medium;
  }

  .connect-section {
    text-align: center;
    margin-bottom: vars.$spacing-xlarge;

    h2 {
      font-size: vars.$font-size-heading-1;
      margin: 0;
      font-weight: vars.$font-weight-bold;

      .highlight {
        color: vars.$color-primary-orange;
      }
    }
  }

  .footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: vars.$spacing-large;
    margin-bottom: vars.$spacing-xlarge;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  .footer-left {
    .logo {
      margin-bottom: vars.$spacing-medium;

      img {
        max-width: 150px;
      }
    }

    .social-text {
      margin-bottom: vars.$spacing-large;
      line-height: 1.5;
      color: vars.$color-gray;
      font-size: vars.$font-size-base;
      font-weight: vars.$font-weight-regular;
    }

    .social-links {
      display: flex;
      gap: vars.$spacing-medium;

      @media (max-width: 768px) {
        justify-content: center;
      }

      .social-icon {
        color: vars.$color-platinum-light;
        font-size: vars.$font-size-xlarge;
        transition: color vars.$transition-speed-medium ease;

        svg {
          width: 24px; // Ajuste o tamanho conforme necessário
          height: 24px; // Ajuste o tamanho conforme necessário
          fill: currentColor; // Herda a cor do texto
        }

        &:hover {
          color: vars.$color-primary-orange;
        }
      }
    }
  }

  .footer-nav,
  .footer-contact {
    h3 {
      color: vars.$color-primary-orange;
      margin-bottom: vars.$spacing-medium;
      font-size: vars.$font-size-large;
      font-weight: vars.$font-weight-semibold;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: vars.$spacing-small;
        font-size: vars.$font-size-base;
        color: vars.$color-gray;

        a {
          color: vars.$color-platinum-light;
          text-decoration: none;
          transition: color vars.$transition-speed-medium ease;
          font-weight: vars.$font-weight-regular;

          &:hover {
            color: vars.$color-primary-orange;
          }
        }
      }
    }
  }

  .footer-newsletter {
    .newsletter-form {
      display: flex;
      gap: vars.$spacing-tiny;

      @media (max-width: 768px) {
        justify-content: center;
      }

      input {
        background-color: vars.$color-platinum-light;
        border: none;
        padding: vars.$spacing-small vars.$spacing-medium;
        border-radius: vars.$border-radius-small;
        font-family: vars.$font-family-primary;
        font-size: vars.$font-size-base;
      }

      button {
        background-color: vars.$color-primary-orange;
        border: none;
        color: vars.$color-platinum-light;
        padding: vars.$spacing-small vars.$spacing-medium;
        border-radius: vars.$border-radius-small;
        cursor: pointer;
        transition: background-color vars.$transition-speed-medium ease;
        font-family: vars.$font-family-primary;

        &:hover {
          background-color: color.adjust(
            vars.$color-primary-orange,
            $lightness: -10%
          );
        }
      }
    }
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: vars.$spacing-large;
    border-top: 1px solid rgba(vars.$color-platinum-light, 0.1);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: vars.$spacing-medium;
      text-align: center;
    }

    .copyright {
      p {
        margin: 0;
        font-size: vars.$font-size-small;
        color: vars.$color-gray;
        font-weight: vars.$font-weight-regular;
      }
    }

    .made-by {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: vars.$spacing-tiny;
      font-size: vars.$font-size-small;
      color: vars.$color-gray;

      img {
        max-width: 30px;
      }
    }

    .terms {
      display: flex;
      gap: vars.$spacing-medium;
      justify-content: flex-end;

      @media (max-width: 768px) {
        justify-content: center;
      }

      a {
        color: vars.$color-gray;
        text-decoration: none;
        font-size: vars.$font-size-small;
        transition: color vars.$transition-speed-medium ease;
        font-weight: vars.$font-weight-regular;

        &:hover {
          color: vars.$color-primary-orange;
        }
      }
    }
  }
}
