<!-- Menu Toggle para telas menores -->
<!-- <div
  class="menu-toggle"
  aria-label="Toggle navigation menu"
  (click)="toggleMenu()"
>
  <div class="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<nav class="nav-links" [class.open]="menuVisible">
  <a routerLink="/landingpage/home" (click)="closeMenu()">Sobre</a>
  <a routerLink="/landingpage/services" (click)="closeMenu()">Serviços</a>
  <a routerLink="/landingpage/projects" (click)="closeMenu()">Projetos</a>
  <a routerLink="/landingpage/blog" (click)="closeMenu()">Blog</a>
</nav> -->

<div class="nav-menu-container">
  <p-menubar [model]="items">
    <ng-template pTemplate="item" let-item>
      <a
        [routerLink]="item.routerLink"
        class="p-menuitem-link"
        [routerLinkActive]="'active-link'"
      >
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
  </p-menubar>
</div>
